@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Define a default theme here (e.g., light mode) */
    --theme-bg: 240 10% 98%;
    --theme-panel: 0 0% 100%;
    --theme-text-primary: 240 10% 3.9%;
    --theme-text-secondary: 240 5.9% 10%;
    --theme-accent: 240 5.9% 10%;
    --theme-accent-fg: 0 0% 98%;
    --theme-success: 142.1 76.2% 36.3%;
    --theme-destructive: 0 84.2% 60.2%;
    
    --background: var(--theme-bg);
    --foreground: var(--theme-text-primary);
    
    --card: var(--theme-panel);
    --card-foreground: var(--theme-text-primary);
    
    --popover: var(--theme-panel);
    --popover-foreground: var(--theme-text-primary);

    --primary: var(--theme-accent);
    --primary-foreground: var(--theme-accent-fg);

    --secondary: var(--theme-panel);
    --secondary-foreground: var(--theme-text-primary);
    
    --muted: var(--theme-panel);
    --muted-foreground: var(--theme-text-secondary);

    --accent: var(--theme-accent);
    --accent-foreground: var(--theme-accent-fg);

    --destructive: var(--theme-destructive);
    --destructive-foreground: 0 0% 98%;

    --border: var(--theme-text-primary) / 0.1;
    --input: var(--theme-text-primary) / 0.1;
    --ring: var(--theme-accent);

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    /* Define default dark theme variables */
    --theme-bg: 240 10% 3.9%;
    --theme-panel: 240 3.7% 15.9%;
    --theme-text-primary: 0 0% 98%;
    --theme-text-secondary: 240 5% 64.9%;
    --theme-accent: 0 0% 98%;
    --theme-accent-fg: 240 5.9% 10%;
    --theme-success: 142.1 76.2% 36.3%;
    --theme-destructive: 0 62.8% 30.6%;
    
    --border: var(--theme-text-primary) / 0.1;
    --input: var(--theme-text-primary) / 0.1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fadeIn {
    to {
        opacity: 0.6;
    }
}