@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-hsl: 220 20% 95%;
    --foreground-hsl: 220 10% 20%;
    --card-hsl: 220 20% 95%;
    --card-foreground-hsl: 220 10% 20%;
    --popover-hsl: 220 20% 95%;
    --popover-foreground-hsl: 220 10% 20%;
    --primary-hsl: 220 70% 50%;
    --primary-foreground-hsl: 220 20% 98%;
    --secondary-hsl: 220 10% 85%;
    --secondary-foreground-hsl: 220 10% 20%;
    --muted-hsl: 220 10% 90%;
    --muted-foreground-hsl: 220 10% 45%;
    --accent-hsl: 190 70% 50%;
    --accent-foreground-hsl: 220 10% 20%;
    --destructive-hsl: 0 84.2% 60.2%;
    --destructive-foreground-hsl: 0 0% 98%;
    --border-hsl: 220 10% 85%;
    --input-hsl: 220 10% 85%;
    --ring-hsl: 220 70% 50%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background-hsl: 224 71.4% 4.1%;
    --foreground-hsl: 210 20% 98%;
    --card-hsl: 224 71.4% 4.1%;
    --card-foreground-hsl: 210 20% 98%;
    --popover-hsl: 224 71.4% 4.1%;
    --popover-foreground-hsl: 210 20% 98%;
    --primary-hsl: 210 40% 98%;
    --primary-foreground-hsl: 222.2 47.4% 11.2%;
    --secondary-hsl: 217.2 32.6% 17.5%;
    --secondary-foreground-hsl: 210 40% 98%;
    --muted-hsl: 217.2 32.6% 17.5%;
    --muted-foreground-hsl: 215 20.2% 65.1%;
    --accent-hsl: 217.2 32.6% 17.5%;
    --accent-foreground-hsl: 210 40% 98%;
    --destructive-hsl: 0 62.8% 30.6%;
    --destructive-foreground-hsl: 210 40% 98%;
    --border-hsl: 217.2 32.6% 17.5%;
    --input-hsl: 217.2 32.6% 17.5%;
    --ring-hsl: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
